@page "/LoadTestComponent"

<div class="my-component">
    This component is defined in the <strong>LoadTest</strong> library.
    <button disabled>
        Begin Load Test
    </button>
</div>
